@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>New Client</h2>

<h3>A stylist must be added before a client can be added</h3>
<h2>@Html.ActionLink("Click Here: Create Stylist", "Create", "Stylists")</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Add new client" class="btn btn-default"/>
}
<button>@Html.ActionLink("Show all clients", "Index")</button>